[2019-12-19 18:38] anitanagaraj opened #2 "Identity-Birth and rearing litter"
Birth and Rearing litter size will be a useful attributes to have under Animal Identity.

[2019-12-19 18:41] anitanagaraj opened #3 "Identity and Status - Date fields"
Graham Glover from ABRI suggested having some date fields for status attributes around AI date, animal status date, breed society registration status date, record date , desexed date

[2019-12-19 18:43] anitanagaraj opened #4 "Identity- Species enumeration values"
Should Buffalo be removed from ICAR standards ?

[2019-12-19 18:45] anitanagaraj opened #5 "Identity Parentage - Confidence indicator"
A confidence indicator for parentage might be useful. Need to check if it is present in farm data standards

[2020-01-15 05:14] sejast opened #7 "Weigh and Score - Session concept"
Is there the concept of a session that ties these individual records together? These can be useful to tie multiple observations that were recorded at the same time together.

This could be an optional property.

[2020-01-15 05:18] sejast opened #8 "Weigh and Score - Required fields?"
There aren't any required fields indicated on the weigh or score observations.

Going from: https://github.com/adewg/ICAR/issues/53, the weight is the only required field, which makes sense.

An update to the spreadsheet would be useful.

[2020-01-15 05:22] sejast opened #9 "Weigh - Measurement object"
Is it worth using types to encapsulate the values in an observation?

The example in score would be a weight wrapping value, units and resolution.

[2020-01-15 05:27] sejast opened #10 "Weigh - Default method"
If the method isn't specified, it feels like it should either have an explicit value of "NotSpecified" or a null value rather than presume how they've been weighed.

[2020-01-15 05:29] sejast opened #11 "Weigh - Method for feed bin weighers?"
Provide a weighing method for feed bin weighers such as GrowSafe or OptiWeigh?

[2020-01-15 05:34] sejast opened #12 "Score - parent entity typo?"
Should the parent of icsScoringEventCore be icarEventCoreResource? It's icarEventCore in the doc. We couldn't find that in the ICAR GitHub.

[2020-01-15 05:35] sejast opened #13 "Score - icsScoringEventCore name isn't consistent"
The gerund on this name isn't consistent with the weigh event name.

icsScoreEventCore would be more consistent.

[2020-01-15 05:36] sejast opened #14 "Weigh - icsWeighEventCore or icsWeightEventCore name"
This represents an observation of the weight, but the verb is "weigh". Just something to consider when naming in an API.

[2020-01-15 05:59] sejast opened #15 "Score - Is this used for carcass fat score as well?"
The score observation is covering multiple score types, but some seem to be missing. Is the intention for this to be a single observation for any type of score?

For instance, processors in the UK can use different grid systems, with the more complex being a "15-point grid":
![image](https://user-images.githubusercontent.com/3868560/72408321-9add6e80-37b6-11ea-91ca-f6aa217b9024.png)

The proposed

[2020-01-15 06:00] sejast opened #16 "Score - What is measurement?"
How is this different from the "score"? Is it in addition to?

[2020-01-15 06:03] sejast opened #17 "Score - scoreType. Should this be traitLabel similar to weigh?"
That would be more consistent with the weight record.

There may also be values missing from the enumeration, in the case of a processor fat score for instance.

[2020-01-15 20:33] anitanagaraj commented on #12
Thanks for pointing that out. It has now been corrected.

[2020-01-15 20:33] #12 closed, assigned to nobody

[2020-01-15 21:11] anitanagaraj commented on #16
Yes this is in addition to score. This is an optional attribute and is applicable to Fat Score, where the measurements at various body sites could be recorded if needed.

[2020-01-15 21:31] anitanagaraj commented on #13
Hi Phil,
Agreed. Will change it.

[2020-01-15 21:31] #13 closed, assigned to nobody

[2020-01-15 22:38] sushildutt commented on #16
Shall it be called fatScore in that case?

[2020-01-15 23:04] anitanagaraj commented on #10
Hi Phil,
I think that is a valid point. We can discuss this today and then close it.

[2020-01-15 23:04] cookeac commented on #16
The field Anita is referring to is actually Fat Depth (mm). My preference is that FatScore could be considered a specialised type of score, with the additional attributes of site and optionally fat depth, if that is appropriate.

[2020-01-15 23:05] anitanagaraj commented on #8
Hi Phil,
I have updated the spreadsheet to indicate weight as a mandatory attribute. I will keep this issue open till we discuss any other required fields during the webinar.

[2020-01-15 23:06] cookeac commented on #17
That's a good question and I'm keen we discuss at the meeting.

 A trait label is appropriate where a country or a recording service might have a unique name or identifier for a specific instance of an observation, but the underlying observation itself is the same.
For instance, a birth weight or a mating weight is still a weight.

However, the scores are different types of assessment. In contrast

[2020-01-15 23:07] cookeac commented on #15
We're carefully avoiding carcase information at the moment, because MLA is doing other work in that space, and there are existing standards (in each country/zone!). However, its a good general question.

[2020-01-15 23:08] cookeac commented on #14
And if it is a concrete event that won't be "inherited", does it need Core in the name? I'd say not.

[2020-01-15 23:09] cookeac commented on #11
Let's discuss at the meeting. If we are weighing the animal with them, are these still working on the same principle as a loadcell/loadbar weighing, or as walkover weighing?

[2020-01-15 23:10] cookeac commented on #10
Yes, unless the default is loadcell as that is probably the most common in the industry.

[2020-01-15 23:12] cookeac commented on #7
Yes, I'm keen on this idea as well. We might need to discuss what a minimal set of attributes for a session might be. I have always said these were done at the same time and place, but I note that some devices (TruTest, Gallagher) can add more records to an existing session on a different date. In that case, "session" in that context really just means "file".

[2020-01-15 23:15] cookeac commented on #5
Farm Data Standards has:

1. Parentage Method (how the parentage was assessed):

- Observed (e.g. Dam observed giving birth to progeny)
- Associated (e.g. Dam seen feeding progeny)
- Derived (e.g. Sire derived from mating records)
- DNA (the result of a DNA parentage test)

2. DNA Probability (and Reliability) - not specifically defined.

[2020-01-16 00:57] graham83 opened #18 "EventCore - Should events have optional management group"
Trait observations are often in the context of a management group. Is it therefore worth having managementGroup as a field directly on icarEventCoreResource or is managementGroup and groupDateTime captured in a separate object?

[2020-01-16 06:02] cookeac commented on #18
Thanks for this feedback Graham.
I think managementGroup would be sensible as well, on the assumption that we mean the same thing. By managementGroup I mean an identifier that distinguishes animals under the same managment conditions - specifically as this influences environmental adjustments in genetic analyses.

For instance, animals that have been fed ad-lib can't be compared to those on a rest

[2020-01-23 00:34] anitanagaraj commented on #16
As discussed in the webinar, this score object is now split into multiple objects specific to Muscle, Fat, Condition and Frame.

[2020-01-23 00:34] #16 closed, assigned to nobody

[2020-01-23 00:35] #15 closed, assigned to nobody

[2020-01-23 00:37] anitanagaraj commented on #14
Changed the name to iscWeightEventResource

[2020-01-23 00:37] #14 closed, assigned to nobody

[2020-01-23 00:52] anitanagaraj commented on #10
ICAR recommendation is to keep the field as optional and remove the default.

[2020-01-23 00:52] #10 closed, assigned to nobody

[2020-01-23 00:56] anitanagaraj commented on #9
It is good idea if we think we will use these measurement types frequently.

[2020-01-23 00:58] anitanagaraj commented on #2
Added it to the schema.

[2020-01-23 00:58] #2 closed, assigned to nobody

[2020-01-24 00:04] Traksewt opened #20 "Treatment Program should allow for courses and treatments"
The treatment program is a grouping showing the diagnosis, courses and treatments. In the comment, it says the courses and treatments are 'either or'. We think that it more likely to have both. The courses can act as a plan of what was proposed, while the treatments should be the actuals of what happened.

[2020-01-24 00:12] Traksewt opened #21 "Treatment: Courses should support multiple batches or be removed"
Course is considered as a plan, while the treatment is the actual. The treatment is already recording the batch information. It is feasible that a batch number changes over a course as the same treatment may be applied to many animals.

If the course is considered like a plan that is created prior to treatment, then the batch numbers may not be known. In this case, there should not be batch number

[2020-01-24 00:14] cookeac commented on #21
Course does not necessarily have to be a plan - it could be plan or an actual summary of a course (some vet software doesn't record the individual treatments).

You're right - the batches with batch numbers and expiry dates should be an array for a course.

[2020-01-24 00:16] cookeac commented on #20
Yes, I can see that could be possible.
We envisaged these use cases
- a programme is used to plan treatments, but the actual treatments are later recorded as separate events.
- a programme is used to plan or record treatments at the course level and treatments are not recorded individually.
- But it could be possible for a program to contain both a planned course and then actual treatments. This w

[2020-01-24 00:21] Traksewt opened #22 "treatments should refer to diagnosis and courses"
At the moment, the Treatment Program links diagnosis, courses and treatments. This is a loose grouping which doesn't allow a treatment to link to a particular course or a particular diagnosis (as they both can be an array in the Treatment Program).

The treatment could have an optional property that refers to the course and an array of diagnoses.

[2020-01-24 00:24] cookeac commented on #17
At the meeting we concluded that:
- What scoreType was representing was assessments of different things (not different methods of assessing the same thing). For instance, Condition Score and Frame Score. These should probably be different types of event, perhaps based on a score or assessment base class.

- traitLabel is a way of labelling for example that an event belongs to the same conceptual g

[2020-01-24 00:27] cookeac commented on #22
I've wondered this too. It could be an optional Reference (based on the icarReferenceType) to a course or diagnosis rather than embedding a diagnosis in a treatment for instance.

[2020-01-24 00:37] Traksewt opened #23 "Treatments: Is CourseSummary and CoursePlan different concepts?"
We need an attribute on course to show if it is a plan or the actual record of treatments (in the case that no Treatments are set). Or we need 2 separate objects.

For example, there is a course planned to do 10 treatments. What does having no treatments mean? Does it mean they did them all or none of them?

It is not explicit what 0 treatments means: they have done all of them or they have done n

[2020-01-24 00:38] cookeac commented on #23
Or a course with no treatments could mean that the farm or veterinary software was only capable of recording the course details and not individual treatments. Therefore we do need this attribute.

[2020-01-24 00:40] cookeac commented on #11
The suggestion from Bill Mitchell at Optiweigh (thanks for the intro, @sejast ) is that these weighers should be categorised differently. The primary reason is that they only weigh the front of the animal and extrapolate this to the entire animal. Other weighers that have a feed bin but use loadbars to weigh the entire animal could just provide "loadcell" weights (with timeOffFeed = 0).

[2020-01-24 00:46] Traksewt opened #24 "Treatment: Course summary medicine description is unclear"
The description of medicine in the Course object makes it sound like it is only used for the case that the course is a summary and there are no treatments. In the case that the course is a plan, then the medicine is also useful.

The description can be clear to say this is the medicine used in the course. If the course and summary and plan are split into separate objects (#23), then the medicine s

[2020-01-24 00:53] Traksewt opened #25 "Treatment: can we use an enum for the sites and application method?"
An enum will be useful for interoperability regarding using preset lists and internationalisation/translation.

There should be medical standards for animal sites. Likewise, the application methods should be a known set.

[2020-01-24 01:00] Traksewt opened #26 "Treatment: withholding needs to consider export"
How do we differentiate between ESI and meat withholding ?

The body that provided the withholding could be an attribute.

[2020-01-24 01:05] Traksewt opened #27 "treatments: remove date from Dose"
Treatment has date applied as part of its core event. The Dose can refer to an amount (with units) without needing the provide date again.

[2020-01-24 01:07] Traksewt opened #28 "Treatments: Dose units can follow UN 3 letter standard"
As discussed for weights, dose should use the same unit format.
"Units specified in UN/CEFACT 3-letter form. ".

[2020-01-24 01:12] Traksewt commented on #27
Maybe Dose is collapsed into Treatment, or Dose is renamed to represent a value with a unit (Measurement). This dose in its current form seems inconsistent with how we discussed weight and embedded objects.

[2020-01-24 01:15] Traksewt opened #29 "Treatments: Medicine should include the body the code comes from"
This is relevant for international products.

An enum could be a lot to maintain, so text could be fine.

[2020-01-24 01:19] Traksewt opened #30 "Treatments: Why does Diagnosis code use VENOM instead of ICAR"
This is more of a question, we were wondering if the ICAR codes were considered?

https://www.icar.org/index.php/publications-technical-materials/amendments-recording-guidelines/diseases-codes-for-cows/

[2020-01-24 02:31] cookeac commented on #11
Recommend we add a "frontEndCorrelated" weigh method, based on the descriptions listed in https://www.sciencedirect.com/science/article/abs/pii/S1080744615309773. An alternative would be "partialCorrelated" (based on https://academic.oup.com/jas/article/95/suppl_4/241/4765447) but I think front end correlated will be easier for implementers to recognise and use.

[2020-01-24 02:32] #8 closed, assigned to nobody

[2020-01-24 02:35] cookeac commented on #30
They were considered. We looked at a number of actual implementations for sharing health data, and the only coding scheme actually in use in those implementations was VeNom. However, it was a small sample!
We could:
1. Add an ICAR code as another option; or
2. Define a DiagnosisCodeType (derived from the genetic icarIdentifierType), so that we could use the scheme + ID method to support different

[2020-01-24 02:42] cookeac commented on #28
I completely agree. @anitanagaraj I'll point you to the UN/CEFACT code list. I felt that the useful subset of these was:

| Abbrev | Name and note |
| -------- | ------------------ |
| MLT | millilitres |
| LTR | litres |
| MGM | milligrams |
| GRM | grams |
| XTU | tube (X prefix as its an ISO 21 packaging unit, as per the ISO 20 recommendation) |
| XVI | vial (X prefix as above) |
| XAR | suppos

[2020-01-24 02:43] cookeac commented on #29
Agree

[2020-01-24 02:43] cookeac commented on #27
Yes, date should have been removed from Dose prior to publishing the draft.

[2020-01-24 02:45] cookeac commented on #26
Or ESI could be a separate value in the enumeration? Or maybe it should be a market-specific variant?

[2020-01-24 02:45] cookeac commented on #24
Just requires a change to the notes text to clarify.

[2020-01-24 02:46] cookeac commented on #21
To make it clear that a course has an array of batch and expiry objects.

[2020-01-24 02:47] anitanagaraj commented on #23
Added attribute to indicate Plan or Actual

[2020-01-24 02:48] cookeac commented on #25
I agree there should be. I have looked and found plenty of lists but no consistent coding system. Most current farm and vet software I've seen seems to have text fields. Would welcome more discussion and thoughts on this.

[2020-01-25 07:12] anitanagaraj commented on #28
Updated

[2020-01-25 07:12] #28 closed, assigned to anitanagaraj

[2020-01-25 07:13] anitanagaraj commented on #27
Updated.

[2020-01-25 07:13] #27 closed, assigned to anitanagaraj

[2020-01-28 21:04] anitanagaraj commented on #17
Added traitLabel to all score events

[2020-01-28 21:04] #17 closed, assigned to anitanagaraj

[2020-01-28 21:25] anitanagaraj commented on #11
Added.

[2020-01-28 21:25] #11 closed, assigned to anitanagaraj

[2020-01-29 00:29] graham83 commented on #18
This sounds good Andrew - an 'optional field in the Event Core for use in any event'. This would mean it can be applied to weight or other observations.

[2020-01-29 00:34] graham83 opened #31 "Arbitrary measurement events"
I may be missing something here - but weights and scores are covered in the iCarEventCoreResource. What about other observation events on an animal e.g. Testicle Circumference? Where do other trait events involving measurement belong?

[2020-01-29 03:32] cookeac commented on #18
I discussed this with the ICAR working group at their last meeting and they were confused by managementGroup - it was interpreted as a plan for managing animals. When I explained about contemporary groups, they wondered if there were other events that should be recorded which would drive contemporary groups.

The short answer is "Yes", but practically most of those would involve farmers recording

[2020-01-29 03:58] cookeac commented on #31
Our recommendation would be that we define these as additional event types (ie, their own resource types).

In Issue #9 it was suggested that maybe the values for a measurement - value, units, resolution, and perhaps precision (how many places to display) could be encapsulated in a "type" that could be included by reference ($ref) wherever we needed a measurement. This would make it easier to crea

[2020-01-30 00:07] Traksewt commented on #27
Good though now Dose Type seems like a generic object of Measurement. If so, this can be reused for weight too.

[2020-01-30 00:57] anitanagaraj opened #32 "Treatments : Inventory control not covered"
We are currently addressing the treatments from an animal perspective but there could be other non-animal events covering acquisition, stock take and disposal of medicines

[2020-01-30 00:59] anitanagaraj opened #33 "Treatments : Global database of medicines"
Not readily available in any country except by screen scraping. Perhaps MLA could encourage development of some standard APIs atleast for Australia

[2020-01-30 01:01] anitanagaraj commented on #33
A related issue is how to make the registered medicine code, batch number and expiry date on physical medicines machine readable. GS1 has a standard for this but it is not widely used.

[2020-01-30 01:06] cookeac commented on #29
At the meeting we agreed with this. A new type similar to icarIdentifierType could cover this with a scheme and ID within the scheme. For instance { "scheme": "au.gov.apvma", "id": "12345678" }

[2020-01-30 01:12] anitanagaraj opened #34 "Treatments: Medicine scheme and code"
Code within iscMedicineResource should have a scheme and a code

[2020-01-30 01:12] cookeac commented on #26
At the meeting, three approaches were considered:
1. Add a "market" string field, to allow "domestic", "international", "EU" etc.
2. Add the market to the enumeration e.g. "MeatESI", "MilkEU" - this could get messy.
3. Use a scheme-based approach e.g.  "scheme": "au.gov.apvma.esi" or "au.gov.apvma.whp".

We prefer the latter but are interested in feedback.

[2020-01-30 01:15] anitanagaraj opened #35 "Treatments : Exposure event"
Have an Exposure event to record exposures to toxins and environmental substances.

[2020-01-30 01:16] anitanagaraj commented on #35
Could be similar to diagnosis event

[2020-01-30 01:17] anitanagaraj commented on #34
Duplicate issue #29

[2020-01-30 01:17] #34 closed, assigned to nobody

[2020-01-30 01:18] cookeac commented on #30
At the meeting the preference seemed to be to support scheme and value based on icarIdentifierType.
For instance { "scheme": "org.venom", "id": "123456" } or { "scheme": "org.icar", "id": "234567" }.

[2020-01-30 01:23] anitanagaraj opened #36 "Treatments: how to approach treatment methods"
Two approaches were discussed - 1. Use procedure field or 2. have a separate field 'method'.

[2020-01-30 01:31] cookeac commented on #7
We discussed at the meeting, and like the idea of being able to categorise arbitrary sets of events into a "session", which is something like a file or set of related observations.
Suggest: Add a "session" attribute to the event core (string).
This would allow filters to be defined on APIs in the future to return events in a session.

[2020-01-30 01:39] cookeac commented on #9
We are leaning towards creating the following to support various measurements (See also issue #31):
  iscMeasurementType - defines value, resolution
  iscMassMeasurementType - adds units for mass
  iscVolumeMeasurementType - defines units for volume
  iscDistanceMeasurementType - defines units for distance or length
This allows the enumerations of units to be specific, which will aid developers in

[2020-01-30 01:43] cookeac commented on #20
Agreed we should:
1. Allow both "courses[]" and "treatments[]" in the same programme.
2. Add a planned/actual indicator to courses and treatments.

This would allow you to have a programme that, for instance, contained a planned course, and then actual treatments that implemented that course.

[2020-02-12 22:20] sejast opened #37 "Movement: Arrival event - Confirming base type"
Confirming that the base type is icarEventCoreResource, not icsMovementArrivalEventResource

[2020-02-12 22:21] sejast opened #38 "Movement: Arrival: Comment on "agistment" term"
Agistment isn't a commonly used word outside of Australia and New Zealand. Is there a more international term? We haven't been able to find one in the UK or US.

[2020-02-12 22:22] sejast opened #39 "Movement: Arrival: Handling multiple animals"
This record could handle the transfer of multiple animals.

In that case, animalDetail would be an array called animalDetails

[2020-02-12 22:22] sejast opened #40 "Movement: Arrival: Duplicate animal... kind of"
Animal is already on icarEventCoreResource.This feels like a double up. How would this double up addresed?

[2020-02-12 22:24] sejast opened #41 "Movement: Arrival: Linking government transactions"
How are government transactions linked to the iscMovementArrival and iscMovementDeparture events?

An optional government transaction attribute would be useful. That would include the service or country as well as the ID. Perhaps information about the submission as well - success or failure.

[2020-02-12 22:24] cookeac commented on #38
Agreed, in the UK animals are commonly sent "to/on tack". I did find mention of agistment in one UK science paper in regards to tack.

That said, I also ran these past the ICAR working group and they were ok with the phrase.

[2020-02-12 22:25] sejast opened #42 "Movement: Departure: Should departure reason be required?"
The linkage of departure kind to reason doesn't seem obvious. For instance, agistment doesn't seem to fit with the reasons. Should reason be optional?

[2020-02-12 22:25] sejast opened #43 "Movement: Death: Clarity on consumption for tax impacts"
It isn't clear with reason consumption whether that is to be eaten on or off-farm, which can have tax ramifications. Should these be split out?

[2020-02-12 22:26] sejast opened #44 "Movement: Death: A matching Found record for Lost?"
How would lost stock that have been found be recorded? There isn't a Found state anywhere that we've seen.

[2020-02-12 22:28] sejast opened #45 "Movement: Death: Should disposalReference be required"
Given the examples for disposalReference, what would a value be for consumption? It doesn't feel like this should be required.

[2020-02-12 22:29] sejast commented on #45
disposalReference being mandatory will also discourage people from recording an observed death until the animal has been moved off-farm

[2020-02-12 22:45] cookeac commented on #45
I agree, should be optional.

[2020-02-12 22:45] sejast opened #46 "Movement: Death: It feels like this should be multi-animal"
Similar to our recommendation for the other Movement records?

[2020-02-12 22:46] cookeac commented on #43
That could be done - wouldn't want to deal with the tax implications in the animal observation event, but the opportunity to split consumption purpose/location further could be useful for multiple purposes, including biosecurity.

[2020-02-12 22:47] cookeac commented on #42
Yes, it should be optional

[2020-02-12 22:50] cookeac commented on #46
The current structure for all Animal events in ICAR is that they are individual. This doesn't stop user interfaces allowing the application of a single event to multiple animals, just that the transfer of data provides an event per animal.

1. We've suggested in this forum that a session object would be useful, in which case there might be the concept of an event recorded at session level that the

[2020-02-12 22:51] cookeac commented on #41
Our intent was to capture this with attributes in the Consignment object, which would suggest more attributes should be added to this object.

[2020-02-12 22:52] sejast opened #47 "Movement: Movement Registration: What is the purpose of this record"
What is the purpose of this record? To record the addition of existing animals into an application? Does that really matter for data interoperability?

In the case of registration, what does induct mean in the comment?  Add to the app or actual induction of animals onto the farm. If it's the later, it would be useful to have a link to the Arrival record. We should also be able to track the governm

[2020-02-12 22:52] sejast opened #48 "Movement: Consignment: Vehicle is an array, should be vehicles."

[2020-02-12 22:53] sejast opened #49 "Movement: Consignment: Duplicate expectedDuration in the doc"

[2020-02-12 22:54] sejast opened #50 "Movement: Organisation: Address type"
Is there a standard we can use for address? String seems arbitrary and this would be useful as a type.

[2020-02-12 22:54] sejast opened #51 "Movement: Person: licence credential isn't specific enough"
licenseCredential  feels like it should be an array and that each value should have a schema of   license type and license number

[2020-02-12 22:54] cookeac commented on #40
This is by design for Arrivals and Registrations.
* The Animal reference in icarEventCoreResource is the ID of the observed animal.
* If an animal is being added to a system by POSTing an induction event, there needs to be a mechanism to populate its life data. The animalDetails object achieves this.

[2020-02-12 22:56] sejast opened #52 "Movement: ChangeOfOwnership:"
eventMode is a strange name for this field. We would recommend something like "transferEvent". That's not a great name either, but something that describes the data as the type of event held.

[2020-02-12 22:57] cookeac commented on #47
This mechanism is not just about the transfer of details for an app, but might also include registration of the animal with a formal recording system or a national movement database. Registration is intended to capture the initial registration of an animal, not its movement (arrival/departure). Examples include:
- Animals tagged within ([x] regulatory time period) of birth - application of the tag

[2020-02-12 22:58] cookeac commented on #39
By design, the ICAR event is an individual animal event, so instead you would record a set of such events.

[2020-02-12 22:59] cookeac commented on #48
Agreed

[2020-02-12 22:59] sejast opened #53 "Movement: LotDetail: sellingBasis doesn't look very serialization friendly"
sellingBasis that the value should be serializable. Just PER_HEAD, LIVE_WEIGHT, DRESSED_WEIGHT?

Units shouldn't be included in these values, as not everyone uses metric.

[2020-02-12 22:59] sejast opened #54 "Movement: Lot Assessment: Needs to be complete"

[2020-02-12 23:00] cookeac commented on #49
copy and paste error :-)

[2020-02-12 23:01] cookeac commented on #37
Yes, typo

[2020-02-12 23:02] sejast opened #55 "Movement: TransactionItem: Different items may be of a different unit type"
Needs the unit type for per head, live weight, dressed, etc as there could be different items could be charged differently in the same transaction.

[2020-02-12 23:03] sejast opened #56 "Movement: TransactionItem: Discount types"
Do we need a discount type to handle a fixed amount rather than a percentage?

[2020-02-12 23:03] sejast opened #57 "Movement: TransactionItem: Do we need to save subtotal?"
Is subtotal is derived, does it need to be saved? That does make sense in the case where none of the other values are provided.

[2020-02-12 23:04] cookeac commented on #50
It would. We just modelled it precisely on schema.org streetAddress. However, a structured type such as schema.org postalAddress might be more appropriate.

[2020-02-12 23:05] cookeac commented on #53
Yes, these were human readible for the purposes of the meeting, but I agree that ideally units should be separate. We had that discussion here too and thought it would be good to canvas opinion at the meeting.

[2020-02-12 23:08] cookeac commented on #52
**eventMode** was intended to identify the type of event in which the transaction occurred. Alternative names might include:
- eventContext
- withinEvent
- transferEvent
- saleType
etc.

[2020-02-12 23:10] cookeac commented on #54
Agreed, we are hoping to discuss at the meeting.

[2020-02-12 23:11] cookeac commented on #55
Linked to #53 - we are keen to discuss people's ideas at the meeting.

[2020-02-12 23:11] cookeac commented on #57
We discussed the same thing - subTotal does make sense where there is a price that has been agreed by a different method and it is the only field provided.

[2020-02-12 23:12] cookeac commented on #56
Good feedback, to discuss at the meeting.

[2020-02-12 23:40] anitanagaraj commented on #49
Oops. thanks for pointing out.

[2020-02-12 23:49] #49 closed, assigned to anitanagaraj

[2020-02-12 23:50] anitanagaraj commented on #48
fixed now.

[2020-02-12 23:50] #48 closed, assigned to anitanagaraj

[2020-02-12 23:50] #37 closed, assigned to anitanagaraj

[2020-02-13 00:57] Traksewt opened #58 "Movement: consignment should be referenced as an ID, not embedded"
Currently in arrivals and departures, the consignment is embedded in each animal. The consignment refers to a set of animals. This means that all animals will have the exact same consignment data embedded. This does not scale well as the number of animals transported increases.

It also adds more complexity in handling, ie what does it mean if 1 animal has slightly different consignment data to th

[2020-02-13 01:00] graham83 commented on #31
We think we need to address these in a generalised way. There is an extensive, and changing list of trait observations that our customer base use (hundreds / thousands). The most common are covered by the weights and score schema. An additional and generalised measurement schema will give sufficient coverage of the remaining observation events.

[2020-02-13 04:14] cookeac commented on #31
A clear set of guidance from both ICAR and other members of this group was to avoid too many generalised messages that required interpretation to work out what they are - this makes filtering and other things more challenging. I do think there is room for generalised observations, but we should try to define specific types where it makes sense and supports innovation.

Here's my recommendation:
1.

[2020-02-13 04:22] cookeac commented on #58
At face value, this proposal seems good:
1. Consignment is meant to model a consignment of multiple animals moving together.
2. Where a consignment maps to an official livestock registration and movement service (such as NLIS), its ID should map to the ID under that service, so again it should be unique for that transaction.

The primary reason why the ICAR team were hesitant about this is the add

[2020-03-11 00:38] JoelRockes opened #60 "Movement: Individual animals v's Mob movements"
100% traceability & individual animal management is required for cattle, therefore we have unique identification in the form of an EID. Nationally Sheep and many other animals are not identified individually - how is it proposed the schema differentiate between the records of individual and mob records?

[2020-03-11 00:42] JoelRockes opened #61 "Movement: Animal Sighting events"
Currently, animals are moved between properties and/or back and forth from the same property.

The NLIS utilises a Sighting call that flags that animal at that location at that point in time.

Is this an event that should be considered for the schema, its not a Movement Departure/Arrival event (if so this type is not recorded currently) & it does not seem to fit in the Event Resource data fields.

[2020-03-11 00:50] JoelRockes opened #62 "Movement: Companion documents"
The schema seems silent of recording/attaching companion documentation, such as NVD's, Animal Health statements & any other forms of documentation... should this be a consideration?

[2020-03-11 00:57] JoelRockes opened #63 "Movement: Identification/Registration of Scanning (& Weighing) hardware"
With the recording of attributes should we be provisioning for the recording of individual device identification/registration

[2020-03-11 00:58] JoelRockes opened #64 "Movement: Handling non-reading tags"
In the event where a faulty visual tag is replaced with a new saleyard/Vendor tag (currently handled in NLIS) how would/could/should this be captured here?

[2020-03-11 01:10] JoelRockes opened #65 "Movement: Linkage of Scanning/weighing hardware fixed to transportation"
Should we be considering the linkage of fixed (scanning/weighing) devices to transportation vehicles for better recording of data & associated movements?

[2020-03-11 01:11] JoelRockes opened #66 "Movement: Waypoints"
Geo-Coordinates appear to only record the start/stop destinations.
Provisions for journey waypoints would make way for enhanced traceability.

[2020-03-18 10:28] anitanagaraj commented on #7
It was decided after the webinar on API model that Rezare will implement a Session object. Hence closing this issue.

[2020-03-18 10:28] #7 closed, assigned to nobody

[2020-03-20 00:15] anitanagaraj commented on #18
Submitted to ICAR as contemporaryGroup

[2020-03-20 00:17] anitanagaraj commented on #20
Updated the schema spreadsheet with the changes

[2020-03-20 00:17] #20 closed, assigned to anitanagaraj

[2020-03-20 00:18] anitanagaraj commented on #21
Updated in schema spreadsheet.

[2020-03-20 00:18] #21 closed, assigned to anitanagaraj

[2020-03-20 00:19] anitanagaraj commented on #22
Updated in schema spreadsheet

[2020-03-20 00:19] #22 closed, assigned to nobody

[2020-03-20 00:19] #23 closed, assigned to anitanagaraj

[2020-03-20 00:37] anitanagaraj commented on #30
Updated spreadsheet

[2020-03-20 00:39] AndyDe-Aldent commented on #30
Need to update pull request to follow updated spreedsheet

[2020-03-20 00:41] anitanagaraj commented on #36
updated in spreadsheet

[2020-03-20 00:41] #36 closed, assigned to nobody

[2020-03-20 01:33] anitanagaraj commented on #38
Updated the comments for agistment in the spreadsheet

[2020-03-20 01:33] #38 closed, assigned to nobody

[2020-03-20 01:34] anitanagaraj commented on #42
departureReason has been made optional in the spreadsheet

[2020-03-20 01:34] #42 closed, assigned to nobody

[2020-03-20 01:36] anitanagaraj commented on #45
disposalReference is made optional

[2020-03-20 01:36] #45 closed, assigned to nobody

[2020-03-20 03:06] AndyDe-Aldent commented on #30
Updated the existing iscDiagnosisType.json and added the new iscDiagnosisIdentifierType.json file in the currently open pull request.

[2020-03-23 23:16] anitanagaraj commented on #54
Feedback from Joel Rockes -Assessment details should be allowed to be entered many times for a given lot - eg an agent could have an assessment, a vendor could have an assessment, a buyer, an accredited assessor/valuer (MLA, Auctions Plus) etc.

[2020-03-23 23:32] anitanagaraj commented on #57
@AndyDe-Aldent Implemented in the spreadsheet. AndrewDe please check if it has been implemented in the JSON files

[2020-03-23 23:48] AndyDe-Aldent commented on #57
the iscTransactionItemType contains an optional Subtotal field.

[2020-03-24 01:56] cookeac commented on #66
Agreed, I have been thinking an Animal Sighted event (optional lat/long or just a location identifier) would allow for both this use case, and also the use case where you just run animals through an EID reader when mustering them for other purposes. It could also be used by the new location-based tags of various sorts.
I'm going to suggest this event is picked up in the next phase of work.

[2020-03-24 01:57] cookeac commented on #65
That has been an open question for physical implementations for some time. What might this look like from a data perspective, do you think @JoelRockes ?

[2020-03-24 01:58] cookeac commented on #64
I'd suggest there should be a separate animal movements & registrations event for retagging. It would presumably be like the registration event, because the old ID of the animal may or may not be known.

[2020-03-24 02:00] cookeac commented on #62
We've generally taken the view that implementations could extend the core schema to add further optional fields. In this case these might include URLs to documents.

On the other hand, almost every country has a movement document of some sort, though for many it holds the same information that is already in the **Consignment** object. We could always choose to add a *DocumentURL* (optional, URI st

[2020-03-24 02:02] cookeac commented on #61
See my comment on #66 Waypoints - could these be solved by the same mechanism?

[2020-03-24 10:14] anitanagaraj commented on #26
@AndyDe-Aldent Updated in the spreadsheet -

Attribute added to iscWithdrawalType
  "market" - string
e.g. data -  domestic, international, EU
description -  Indicates the market the withdrawal applies to

[2020-03-24 10:16] anitanagaraj commented on #24
@AndyDe-Aldent , updated in the spreadsheet

[2020-03-24 10:20] anitanagaraj commented on #52
eventMode has now been modified to transferType

[2020-03-24 10:20] #52 closed, assigned to nobody

[2020-03-24 20:10] AndyDe-Aldent commented on #26
Added the market property to the schema on my fork.

[2020-03-24 21:07] AndyDe-Aldent commented on #24
Updated the file on my fork.   to get merged with next pull request.

[2020-03-26 00:42] cookeac commented on #56
@anitanagaraj we could add an optional discountValue as well as the discount (%) field.

[2020-03-26 00:42] #57 closed, assigned to nobody

[2020-03-26 00:44] cookeac commented on #63
One mechanism would to provide that device (icarDeviceReferenceType) be optional in any event. However, for most events, the device itself is not initiating or controlling the event - indeed, the IDs of animals may be manually entered or selected from a software UI.

[2020-03-26 00:48] cookeac commented on #33
Formation of a global or even national medicine database is outside of this project scope.

[2020-03-26 00:48] #33 closed, assigned to nobody

[2020-03-26 00:50] cookeac commented on #51
@anitanagaraj we decided that we would implement credentials as described above

licenceCredentials: array of [iscLicenceCredentialType]
where iscLicenceCredentialType: allof icarIdentifierType

[2020-03-26 00:50] cookeac commented on #35
For a future discussion

[2020-03-26 00:52] cookeac commented on #30
Merged PR

[2020-03-26 00:52] #30 closed, assigned to nobody

[2020-03-26 00:53] cookeac commented on #41
@anitanagaraj check with Daniel Buchanan and Kerry Johns the transaction ID and status fields that could be added.

[2020-03-26 00:55] cookeac commented on #4
Decided to leave as they are at present - buffalo used internationally in countries for breeding programmes distinct from other beef cattle.

[2020-03-26 00:55] #4 closed, assigned to nobody

[2020-03-26 01:22] cookeac commented on #9
Defined iscMeasurementType.json and iscMassMeasurementType.json. Changed iscWeightEventResource.json to use these. See PR #67

[2020-03-26 01:28] anitanagaraj commented on #56
@AndyDe-Aldent Updated in the spreadsheet

[2020-03-26 01:34] anitanagaraj commented on #51
This has been implemented in the spreadsheet and json files

[2020-03-26 01:51] anitanagaraj commented on #51
@AndyDe-Aldent , updated in the spreadsheet

[2020-03-26 01:55] anitanagaraj commented on #50
@AndyDe-Aldent , updated in the spreadsheet

[2020-03-26 02:02] AndyDe-Aldent commented on #56
Added the discountValue property to the JSON schema

[2020-03-26 02:08] AndyDe-Aldent commented on #51
Created the iscLicenceCredentialType file and changed the licenceCredentials field to be of that type.
@anitanagaraj spreadsheet has both "licence" and "license" spellings.   I have set the files to match the spreadsheet but should this be singled down to one spelling?

[2020-03-26 02:12] AndyDe-Aldent commented on #50
Created the iscPostalAddressType file.

[2020-03-26 02:48] anitanagaraj commented on #5
@AndyDe-Aldent , Implemented  in the spreadsheet.

[2020-03-26 20:40] AndyDe-Aldent commented on #5
Added the parentageAssessedMethod and DNAProbability fields to the JSON

[2020-03-26 21:33] #9 closed, assigned to cookeac

[2020-03-26 21:36] #40 closed, assigned to nobody

[2020-03-26 21:42] cookeac opened #69 "Sessions for recording multiple animals at once"
Consider for the future a Session or similar object to link together a number of animal events logically recorded together - such as a movement or deaths or treatment.

Solution to issues #46 and #58, and #39

[2020-03-30 09:08] anitanagaraj commented on #41
@cookeac , discussed with Daniel and I'm thinking of addition this to Consignment object-

governmentTransaction: {
  transactionId: string
  movementId: string,
  status: string (success/fail),
  service: string (e.g. BCMS)
  transactionDate: ‘<date>’
}

[2020-03-30 09:22] anitanagaraj commented on #51
@AndyDe-Aldent , have changed it to licence with a 'c', which I guess should be used for the noun form.

[2020-03-31 03:49] #47 closed, assigned to nobody

[2020-03-31 03:52] cookeac commented on #44
I propose that we add a "Found" *registrationReason* to the **iscRegistrationEventResource.json** event.
This way an existing animal can be marked as found, or a new animal that has been found can be registered (by providing the *animalDetail* information).

[2020-03-31 03:55] cookeac commented on #41
@anitanagaraj those fields look sensible to me. I'd suggest we create a new type to hold this - for example **iscTransactionRecordType**. Then add the *transactionRecord* (of type iscTransactionRecordType) to the consignment object. It would seem to me those sort of transaction records could be used elsewhere, hence generalising.

[2020-03-31 04:22] cookeac commented on #64
I have added **iscMovementRetagEventResource.json**.
Additional properties:
- *replacementTagType* will vary by country - e.g. red tags in the UK
- *previousIdentifier* previous ID if known and different
- *animalDetail* as for when adding a new animal, if the previous ID is not known, need to provide some details.

@AndyDe-Aldent can you please update the Swagger to include the new event? May als

[2020-03-31 04:29] cookeac commented on #51
Updated and simplified - does not need duplicate fields as base icarIdentifierType already has *scheme* and *id*.

[2020-03-31 04:29] #29 closed, assigned to anitanagaraj

[2020-03-31 04:30] #50 closed, assigned to anitanagaraj

[2020-03-31 04:31] cookeac commented on #18
Accepted by **ICAR in icarEventCoreResource.json**
        "contemporaryGroup": {
          "type": "string",
          "description": "For manually recorded events, record any contemporary group code that would affect statistical analysis."
        }

[2020-03-31 04:31] #18 closed, assigned to cookeac

[2020-03-31 04:32] #24 closed, assigned to anitanagaraj

[2020-03-31 04:45] cookeac commented on #43
Intention of the disposalMethod enumeration:
- Approved Service - animal died on farm and was disposed of by a service provider
- On Premise - animal died and was buried or cremated on farm
- Consumption - was intended as on-farm consumption (only legal purpose in most countries). Animal was killed for consumption on farm, as opposed to Sold (movement) for off-farm use.

Proposing Consumption to b

[2020-03-31 05:08] cookeac commented on #54
Added a very simplified array of uniquely identified assessments with assessment type, value, person responsible, and assessment date.

[2020-03-31 05:10] cookeac commented on #53
Made the selling basis serialisation friendly and unit free
- Head
- Liveweight
- CarcaseWeight
- DressedWeight
- Other.

[2020-03-31 05:18] cookeac commented on #3
Added to **iscAnimalCoreResource.json**:
- breedSocRegDate
- statusChangeDate
- desexedDate
The record date is the *modified* date found in the *meta* property for the animal.

[2020-03-31 05:26] cookeac commented on #55
Added a *units* field (of type **uncefactMassUnitsType.json**) to **iscTransactionItemType.json**.

[2020-03-31 05:27] cookeac commented on #63
Leaving open for future discussion.

[2020-04-01 00:50] #3 closed, assigned to cookeac

[2020-04-01 00:50] #41 closed, assigned to anitanagaraj, cookeac

[2020-04-01 00:50] #44 closed, assigned to cookeac

[2020-04-01 00:50] #51 closed, assigned to anitanagaraj, cookeac

[2020-04-01 00:50] #53 closed, assigned to cookeac

[2020-04-01 00:50] #54 closed, assigned to cookeac

[2020-04-01 00:50] #55 closed, assigned to cookeac

[2020-04-01 00:50] #62 closed, assigned to cookeac

[2020-04-01 00:50] #64 closed, assigned to cookeac

[2020-04-01 00:51] #43 closed, assigned to cookeac

[2020-04-01 00:59] #5 closed, assigned to anitanagaraj

[2020-04-01 00:59] #56 closed, assigned to anitanagaraj

[2020-04-01 03:30] cookeac commented on #26
Updated the description of the market property. Added fibre to the product enumeration.

[2020-04-01 03:30] #26 closed, assigned to cookeac